langchain
langchain_community
langchain-openai
python-dotenv
langchain-groq
langchain-google-genai
langgraph
chromadb
langchain-chroma
langsmith
streamlit
fastapi
uvicorn
faker
reportlab
pandas
numpy
python-dateutil
pydantic
httpx
tqdm
jupyter
ipykernel